body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-areas:
        "left-top right-top"
        "left-bottom right-bottom";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 90%;
    max-width: 1600px;
    height: 90%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.left-top {
    grid-area: left-top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

.left-bottom {
    grid-area: left-bottom;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.right-top {
    grid-area: right-top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

.right-bottom {
    grid-area: right-bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.camera-feed {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    box-sizing: border-box;
}

.dev-btn {
    position: fixed;
    text-decoration: none;
    left: 20px;      
    top: 20px;      
    background-color: rgb(192, 13, 13); 
    border: none;
    color: #e4e4e4;        
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;  
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    transition: all 0.3s ease;  
  }
  
  .dev-btn:hover {
    text-decoration: none;
    background-color: rgb(72, 9, 189);  
    transform: scale(1.05); 
  }

  .feed {
    display: block;
    -webkit-user-select: none;
    margin: auto;
    background-color: hsl(0, 0%, 25%);
  }